@mixin button($width, $height, $color, $radius){
  max-width: $width;
  width: 100%;
  height: $height;
  background-color: $color;
  border-radius: $radius;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}